#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -D -m 0755 diskpatrol $$(pwd)/debian/diskpatrol/usr/bin/diskpatrol
	install -D -m 0640 scripts/diskpatrol.conf.sample $$(pwd)/debian/diskpatrol/etc/diskpatrol.conf
	install -D -m 0644 scripts/diskpatrol.logrotate $$(pwd)/debian/diskpatrol/etc/logrotate.d/diskpatrol

