[Unit]
Description=Disk Patrol service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/diskpatrol /etc/diskpatrol.conf

[Install]
WantedBy=multi-user.target
