### Configuration file for the diskalert service.
## Disk space check interval in seconds
SLEEP=60

## Check paths
# If you want to monitor multiple paths, add comma-separated paths.
PATHS=/

## Thresholds
# used% of disk space
WARNING=60
ERROR=70
CRITICAL=80

## log config
# log level: debug, info, warning, error, critical
LOGLEVEL=info
# log file location
LOGFILE=/var/log/diskpatrol.log

## Transport: Wall
ENABLE_WALL=0
WALL_ALERT_LEVEL=warning

## Transport: Email
ENABLE_EMAIL=0
EMAIL_ALERT_LEVEL=warning
# Max consecutive same alerts for each threshold
# Alert will be fired 3 consecutive times(default) and 
# Alert will be fired again after skipping EMAIL_ALERT_SKIP times 
EMAIL_ALERT_COUNT=3
# Skip alerts for each threshold 
# Alert will be skipped for SLEEP*This value
# If SLEEP is 60, Alert will be skipped for 60*10 = 600 seconds.
# If you do not want to skip, set this to 0. 
# Then alert will be fired every SLEEP seconds.
EMAIL_ALERT_SKIP=10
# SMTP server 
SMTP_SERVER="localhost"
# SMTP port
SMTP_PORT=25
# comma-separated recipient email addresses
RECIPIENT_EMAILS=""

## Transport: Telegram
ENABLE_TELEGRAM=0
TELEGRAM_ALERT_LEVEL=warning
# Max consecutive same alerts for each threshold
# Alert will be fired 3 consecutive times(default) and 
# Alert will be fired again after skipping TELEGRAM_ALERT_SKIP times 
TELEGRAM_ALERT_COUNT=3
# Skip alerts for each threshold 
# Alert will be skipped for SLEEP*This value
# If SLEEP is 60, Alert will be skipped for 60*10 = 600 seconds.
# If you do not want to skip, set this to 0. 
# Then alert will be fired every SLEEP seconds.
TELEGRAM_ALERT_SKIP=10
APITOKEN=""
CHATID=""

## Transport: Slack
ENABLE_SLACK=0
SLACK_ALERT_LEVEL=warning
SLACK_ALERT_COUNT=3
SLACK_ALERT_SKIP=10
SLACK_WEBHOOK=""
